<% unless comment.archived? %>
  <div class="list-group-item">
    <h5>
      <%= comment.commenter %>
    </h5>

    <p>
      <%= comment.body %>
    </p>

    <p>
      <%= link_to "Delete Comment", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
    </p>
  </div>
<% end %>